
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
 font-family: 'Poppins', sans-serif;
}
.t-t-c{
  text-transform: capitalize;
}
.d-flex{
    display: flex;
}
.s-btw{
    justify-content: space-between;
}
.p-l-r{
    padding: 0px 24px;
}
.p-b{
  padding-bottom: 6px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to the next line */
}
.line-thr{
  text-decoration: line-through;
}
.mx-w-1300{
  max-width: 1300px;
  margin: 0 auto;
}
.f-col{
  flex-direction: column;
}
.f-row{
  flex-direction: row;
}
.gp{
  gap: 1%;
}
.gp-5{
  gap: 10px;
}
.gp-10{
  gap: 15px;
}
/* poppins all css forms */
.bg-b{
  background: #000;
  color: #fff;
}
.normal-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Weight 400 (regular) */
  }
  
  .medium-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 500; /* Weight 500 */
  }
  
  .semibold-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 600; /* Weight 600 */
  }
  
  .emphasized-text {
    font-family: 'Poppins', sans-serif;
    font-weight: 400; /* Weight 400 (regular) */
    font-style: italic; /* Apply italic style */
  }
.LogoMain{
  text-decoration: none;color:unset;
}
  .PriceRangeDiv{
    width: 200px;
  }
  .Newsletter{
    justify-content: space-between;
    align-items: center;
  }
  .footerandNewsletter{
    background: #F2F2F2;
  }
  

.footerandNewsletter .newsletter{
  justify-content: space-between;
}
.b-shadow{
  box-shadow: 0 0px 3px 1px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.p-lr-20{
padding: 0px 15px 0px 0px;
}
.p-tb-50{
  padding: 40px 0px;
}
.white{
  color: #fff;
}


/* breadcrums */

.breadcrumsbg{
  background: url(./../src/components/homepage/images/Breadcrumbs.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
  text-decoration: none;
  padding: 35px 0px;
  font-size: 14px;
}