/* Checkout.css */

.checkout-container {
    /* margin: 0 auto; */
    padding: 20px;
    width: 100%;
   
}
  
  .checkout h2 {
    margin-bottom: 20px;
  }
  
  .checkout-form {
    display: flex;
    flex-direction: column;
  }
  .checkoutform-group{
    flex-direction: column;
    gap: 24px;
  }
  .form-groupprice{
gap: 10px;
flex-direction: column;
  }
  
  .form-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .half-width {
    flex: 0 0 calc(33.33% - 10px);
    margin-right: 10px;
  }
  
  .full-width {
    flex: 1;
    margin-right: 10px;
  }
  
  .checkout-input,
  .checkout-textarea {
    width: 100%;
    padding: 8px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  .checkout .ordersumsub{
    gap: 10px;
  }
  .checkout-submit {
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: #00B207;
    color: white;
    cursor: pointer;
    width: -webkit-fill-available;
        margin-top: 20px;
  }
  
  .checkout-submit:hover {
    background-color: #0056b3;
  }
  
  .shipping-address {
  }

    .checkout .checkoutorder-summary{
width: 500px;
    
  }
  .payment-methods .payment-option{
    align-items: baseline;

  }
  
  /* Additional styles and adjustments as needed */
  .checkoutsubtotal{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 14px;
  }

  .checkoutsubtotal img{
    width: 40px ;
    object-fit: contain;
    
  }
  .half-width .selector{
    width: 240px;
    padding: 6px;
  }