.PostersSection{
    gap: 20px;
    flex: 33.33%;
}
.PostersSection img{
    object-fit: contain;
    width: 100%;
}
.PostersSection .SpecialProduct {
    padding-top: 0px !important;
}
.posters{
    position: relative;
}
.posters .SpecialProduct{
    position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -196%);
}
.posters .SpecialProduct .Shopnow{
    background: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 25px;
}
