/*======== Hero section starts------------- */
.HeroSection{
gap: 30px;
}


.Hero{
  padding: 20px 0px;
  flex-direction: column;
  gap: 30px;
}
.container{
  gap: 30px;
}
.organicAll{
  position: relative;
}
.organicAll img{
  width: 100%;
  border-radius: 10px;
  
  object-fit: cover ;
}
.OrganicFood{
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #fff;
    gap: 20px;
    position: absolute;
    top: 30%;
    padding-left: 40px;
    border-radius: 15px;
}
.OrganicFood img{
  object-fit: contain;
}
.OrganicFoodcontents{
  border-left: 3px solid #84D187;
  padding: 3px 0px 0px 15px;
  flex-direction: column;
  gap: 8px;
}
.OrganicFood .FreshAndHealthy{
  width: 460px;
  font-size: 42px;
}
.OrganicFoodcontents .Freeshipping{
  font-size: 14px;
}
.OrganicFoodcontentssection .Saleupto{
  font-size: 20px;
}
.OrganicFoodcontentssection .percentageoff{
  background:#FF8A00;
  padding: 5px 12px;
  margin-left: 5px;
  border-radius: 5px;
}
.Shopnow{
  background: #fff;
  border: none;
  border-radius: 25px;
  color: #00B207;
  font-size: 16px;
  font-weight: 600;
  padding: 15px 20px;
}
.offer{
  gap: 30px;
  flex-direction: column;
}
.offer .rightbottom{
  position: relative;
}
.offer .righttop{
  position: relative;
}
.offer_summerSaletop{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.offer_summerSaletop .Shopnow{
  background-color: unset;
}
.offer_summerSalebottom .Shopnow{
  background-color: unset;
}
.offer_summerSalebottom{
  position: absolute;
  top: 50%;
  left: 4%;
}

.offer_SpecialProduct img{
object-fit: contain;
}


.shippingmaincontent{
  box-shadow: 0 3px 7px 1px rgba(0, 0, 0, 0.3);  
  padding: 25px 0px;
  border-radius:9px ;
  justify-content: center;
}
.heroItemsRendered{
  gap: 80px;
}
.Delivery_section{
  gap: 10px;
  align-items: center;
}

.Delivery_section .icon{
  justify-content: center;
}
.Delivery_section_text h1{
  font-size: 14px;
  font-weight: 900;
  color: #1a1a1a;
}
.Delivery_section_text p{
  font-size: 11px;
  color: #666;
}
/* ------------PopularCategory page started------------- */

.PopularSection{
  flex-direction: column;
  gap: 30px;
}
.ViewAll{
  cursor: pointer;
}
.viewAllAndTitle{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.popularCategoryAllsection{
  gap: 25px;
  display: grid;  
  grid-template-columns: repeat(6, 2fr);
  justify-content: space-between;
}
.viewAllAndTitle h2{
  font-size: 30px;
}
.viewAllAndTitle .ViewAll{
  color: #00B207;
  font-size: 16px;
}

.popularCategoryImgsection{
flex-direction: column;
align-items: center;
justify-content: center;
border: 1px solid #c4c4c4;
padding: 20px 10px;
transition: 0.5s;
cursor: pointer;
border-radius: 5px;
gap: 10px;
}
.popularCategoryImgsection:hover{
border: 1px solid #00B207;
color: #00B207;
box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3);
}
.popularCategoryImgsection img{
  width: 120px;
}
.popularCategoryImgsection .category{
font-size: 14px;
}

/* ------------PopularProducts page started------------- */


.MainPopularProduct{
  padding: 50px 0px 30px;
}
.PopularProducts{
  flex-direction: column;
  justify-content: start;
}
.popularCategoryImgsection2{
  border: 1px solid #d5d5d5;
  cursor: pointer;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}
.popularCategoryImgsection2:hover{
  border: 1px solid #00B207;
  opacity: 1;
}

.p-img{
  position: relative;
}
.wishlistAndView{
  position: absolute;
  flex-direction: column;
  gap: 10px;
  top: 10px;
  right:10px;
  color: #fff;
  opacity: 0;
}

.cartButton .cartsvg{
  font-size: 14px;
   color: #fff;
    background: #c4c4c4;
     padding:8px; 
     border-radius:15px;
}
.cartButton .white, .white{
  transition: 0.3s;

  background: #c4c4c4 !important;
}
.cartButton .green, .green{
  transition: 0.3s;
  background: #00B207 !important;
}
/* .cartButton .cartsvg:hover{
  
    background: #00B207 ;
    transition: 0.5s;
} */
.p-contents.cartButton .cartsvg:hover{
    background-color: #00B207;
}
.popularCategoryImgsection2 .wishlistAndView {
  opacity: 0;
  transition: opacity 0.3s ease-in-out; /* Adding transition for a smooth effect */
}

.popularCategoryImgsection2:hover .wishlistAndView {
  opacity: 1;
}

.wishlistAndView .wishlist, .wishlistAndView .viewimg
{
  background-color: #79797952;
  padding: 4px 4px 0px 6px;
    font-size: 14px;
  border-radius: 14px;
  box-shadow: 0px 0.5px 2px 2px rgba(0, 0, 0, 0.3);  
}
.wishlistAndView .wishlist:hover
{
  background-color: #00B207;
  transition: 0.4s;
  opacity: 1;
}
.wishlistAndView .viewimg:hover{
  background-color: #00B207;
  transition: 0.4s;
}
.p-img img{
  width: 100%;
}
.p-img .saleoff{
  position: absolute;
  top:6px;
  left: 6px;
  background: #EA4B48;
  color: #fff;
  font-size: 10px;
    padding: 3px 10px;
    border-radius: 5px;
}
.PopularProductSection{
  display: grid;
  grid-template-columns: repeat(5, 2fr);
  align-content: start;
}
.p-contents{
  justify-content: space-between;
  align-items: center;
  padding: 1px 12px;
}
.p-contents .p-nameAndprice{
  font-size: 14px;
  color: #4d4d4d;
  font-weight: 600;
}
.p-nameAndprice .price{
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.p-nameAndprice .discount{
  color: #666;
  font-weight: 400  ;
}

.p-nameAndprice .star{
width: 60px;
height: 15px;
object-fit: contain;
}


/* -------------------advertaismnet section started--------------- */


.Ad_img{
  background: url(./images/DiscountBannar.png);
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: end;}

  .Ad-content .SpecialProduct{
    padding: 0;

  }
  .Ad-content .SpecialProduct .Shopnow{
    background: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 25px;
    
}

.Ad-content{
  flex-direction: column;
  align-items: start;
  padding-right: 50px;
  padding: 69px 70px;
}
.Ad_img{
  color: #fff;
}
.Ad-content .Ad-content_Sumersale{
text-transform:uppercase;
font-size: 14px;
}
.Ad-content .Sumersaleoffer{
  font-size: 56px;
  color: #FF8A00;
}
.Ad-content .Sumersaleoffer_off{
  color: #fff;
}
.Ad-content .Ad-text{
  font-size: 16px;
  width: 320px;
  padding-bottom: 20px;
}

/* ----------------------hotdealsection ---------------------*/
.Hotdealrightsec{
  display: grid;
  grid-template-columns: repeat(3, 6fr);
    
}
.HotdealsecfirstImg{
  width: 100%;
}
.offersec{
  width: 42%;
}
.nonoffersec{
  width: 56%;

}
.Hotdealssec img{
    width: 100%;
}

.HotdealsecfirstImg .p-img .hotdealsOneImage img{
  width: 430px;
}
.popularCategoryImgsection2 .offerimageHotdeals{
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}
.offerimageHotdeals .p-nameAndprice .p-name{
  font-size: 20px;
}
.pricendDiscount .price, .pricendDiscount .discount{
  font-size: 24px;
}
.timerbutton {
  flex-direction: column;
  gap: 6px;
  align-items: center;
}
.timerbutton p{
  font-size: 14px;
  letter-spacing: 2px;
}
.starimgdata1{
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #666;
}
.timerdateandtime{
  justify-content: space-evenly;
  gap: 10px;
}
.offertime{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.offertime span{
  font-size: 18px;
  color: #000;
  font-weight: 800;
}
.angry-grid {
   display: grid; 
   grid-template-rows: 1fr 1fr 1fr;
   grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
   gap: 0px;
   height: 100%;
   
}

  
#item-0 {

   grid-row-start: 1;
   grid-column-start: 1;

   grid-row-end: 3;
   grid-column-end: 3;
   
}
#item-1 {

   grid-row-start: 1;
   grid-column-start: 3;

   grid-row-end: 2;
   grid-column-end: 4;
   
}
#item-2 {

   grid-row-start: 1;
   grid-column-start: 4;

   grid-row-end: 2;
   grid-column-end: 5;
   
}
#item-3 {
   grid-row-start: 1;
   grid-column-start: 5;

   grid-row-end: 2;
   grid-column-end: 6;
   
}
#item-4 {

   grid-row-start: 2;
   grid-column-start: 3;

   grid-row-end: 3;
   grid-column-end: 4;
   
}
#item-5 {

   grid-row-start: 2;
   grid-column-start: 4;

   grid-row-end: 3;
   grid-column-end: 5;
   
}
#item-6 {
   grid-row-start: 2;
   grid-column-start: 5;

   grid-row-end: 3;
   grid-column-end: 6;
   
}
#item-7 {

   grid-row-start: 3; 
   grid-column-start: 1;

   grid-row-end: 4;
   grid-column-end: 2;
   
}
#item-8 {

   
   grid-row-start: 3;
   grid-column-start: 2;

   grid-row-end: 4;
   grid-column-end: 3;
   
}
#item-9 {

   
   grid-row-start: 3;
   grid-column-start: 3;

   grid-row-end: 4;
   grid-column-end: 4;
   
}
#item-10 {

 
   grid-row-start: 3;
   grid-column-start: 4;

   grid-row-end: 4;
   grid-column-end: 5;
   
}
#item-11 {
   grid-row-start: 3;
   grid-column-start: 5;

   grid-row-end: 4;
   grid-column-end: 6;
}

/* Follow us on instagram started */

.Companylogos{
  justify-content: space-between;
  flex-shrink: unset;
  padding: 20px 0px;
}
.Followsus_dblsec{
  gap: 10px;
  flex-direction: column;
}
.Followusoninnstagram{
  padding:10px 0px 40px ;
}
.followUsonInstagrasmsubsection{
  flex-direction: column;
  gap: 20px;
  text-align: center;
}
.divinstaimgandicon {
  justify-content: space-between;
}
.divinstaimgandicon .instaimges{
  position: relative;
  cursor: pointer;

}
.divinstaimgandicon .hide{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.instaimges img:hover{
  filter: brightness(0.5);
}
.hide svg{
  color: #fff !important;
  fill: #fff;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease; /* Add transition effect */
}

/* Define the hover effect to change opacity */
.instaimges:hover .hide svg {
  opacity: 1; /* Show SVG on hover */
  filter: brightness(0.5);

}
